<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form *ngIf="blogPost" #form="ngForm" (ngSubmit)="formSubmit()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" [(ngModel)]="blogPost.title" name="title" required>
                </div>
                <div class="form-group">
                    <label>Featured Image (URL)</label>
                    <input type="text" class="form-control" name="featured-image" [(ngModel)]="blogPost.featuredImage" required>
                </div>
                <div class="form-group">
                    <label>Post</label>
                    <textarea class="form-control" style="min-height:200px" name="post" [(ngModel)]="blogPost.post" required></textarea>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" name="category" [(ngModel)]="blogPost.category" required>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <textarea class="form-control" name="tags" [(ngModel)]="tags" required></textarea>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid">Add Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />